In [5]:
#Import dependenices
import csv
import pandas as pd
from pathlib import Path
import hvplot.pandas

In [6]:
# Specify the path to your CSV file
csv_file_path = 'Resources/Clean_train.csv'

# Read the CSV file into a DataFrame
loan_data = pd.read_csv(csv_file_path)

#Print size of data set
print(loan_data.shape)

# Display the DataFrame
loan_data.head(5)

(80683, 15)

,Current loan amount,Credit score,Annual income,Monthly debt,Years of credit history,Number of open accounts,Number of credit problems,Current credit balance,Maximum open credit,Bankruptcies,Long term,Short term,Home mortgage,Own home,Rent
0,445412.0,709.0,1167493.0,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0,1,1,0,0
1,99999999.0,741.0,2231892.0,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0,1,0,1,0
2,347666.0,721.0,806949.0,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,1,0,0,1,0
3,206602.0,7290.0,896857.0,16367.74,17.3,6.0,0.0,215308.0,272448.0,0.0,0,1,1,0,0
4,217646.0,730.0,1184194.0,10855.08,19.6,13.0,1.0,122170.0,272052.0,1.0,0,1,1,0,0

In [7]:
# Import the module
from sklearn.preprocessing import StandardScaler

In [8]:
# Scaling the numeric columns
data_scaled = StandardScaler().fit_transform(loan_data[['Current loan amoun', 'Credit score', 'pay_amt']])

# Review the scaled data
data_scaled

NameError: name 'ccinfo_df' is not defined