In [7]:
#Import dependenices
import csv
import pandas as pd
from pathlib import Path
import hvplot.pandas

In [8]:
# Specify the path to your CSV file
csv_file_path = 'Resources/Clean_train.csv'

# Read the CSV file into a DataFrame
loan_data = pd.read_csv(csv_file_path)

#Print size of data set
print(loan_data.shape)

# Display the DataFrame
loan_data.head(5)

(80683, 15)

,Current loan amount,Credit score,Annual income,Monthly debt,Years of credit history,Number of open accounts,Number of credit problems,Current credit balance,Maximum open credit,Bankruptcies,Long term,Short term,Home mortgage,Own home,Rent
0,445412.0,709.0,1167493.0,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0,1,1,0,0
1,99999999.0,741.0,2231892.0,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0,1,0,1,0
2,347666.0,721.0,806949.0,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,1,0,0,1,0
3,206602.0,7290.0,896857.0,16367.74,17.3,6.0,0.0,215308.0,272448.0,0.0,0,1,1,0,0
4,217646.0,730.0,1184194.0,10855.08,19.6,13.0,1.0,122170.0,272052.0,1.0,0,1,1,0,0

In [9]:
# Import the module
from sklearn.preprocessing import StandardScaler

In [10]:
# Scaling the numeric columns
data_scaled = StandardScaler().fit_transform(loan_data[['Current loan amount', 'Credit score', 'Annual income','Monthly debt','Years of credit history','Number of open accounts', 'Number of credit problems','Current credit balance','Maximum open credit']])

# Review the scaled data
data_scaled

array([[-4.03050203e-01, -2.48996183e-01, -1.95064699e-01, ...,
        -1.02357438e+00, -1.75311853e-01, -4.60753246e-02],
       [ 2.45806717e+00, -2.27301607e-01,  7.89666434e-01, ...,
         1.36313312e+00,  7.62938426e-03,  2.27017159e-03],
       [-4.05859343e-01, -2.40860717e-01, -5.28622793e-01, ...,
        -4.26897507e-01, -1.01567712e-01, -5.03955333e-02],
       ...,
       [-4.12886935e-01, -2.26623651e-01, -2.10744180e-01, ...,
         1.69779369e-01, -4.86222327e-01, -2.85551874e-02],
       [-4.00609671e-01, -2.23911829e-01,  3.13797720e-01, ...,
        -6.25789799e-01,  2.86024718e-01,  5.53574639e-04],
       [ 2.45806717e+00, -2.25945696e-01, -4.09989595e-01, ...,
        -1.42135897e+00, -6.53827173e-01, -9.33168384e-02]])

In [14]:
# Create a DataFrame of the scaled data
data_scaled = pd.DataFrame(data_scaled, columns=['Current loan amount', 'Credit score', 'Annual income','Monthly debt','Years of credit history','Number of open accounts', 'Number of credit problems','Current credit balance','Maximum open credit'])

# Create copy of the orginal dataframe
loan_data_copy = loan_data.copy()

# Replace the original data with the columns of information from the scaled Data
loan_data['Current loan amount'] = data_scaled['Current loan amount']
loan_data['Credit score'] = data_scaled['Credit score']
loan_data['Annual income'] = data_scaled['Annual income']
loan_data['Monthly debt'] = data_scaled['Monthly debt']
loan_data['Years of credit history'] = data_scaled['Years of credit history']
loan_data['Number of open accounts'] = data_scaled['Number of open accounts']
loan_data['Number of credit problems'] = data_scaled['Number of credit problems']
loan_data['Current credit balance'] = data_scaled['Current credit balance']
loan_data['Maximum open credit'] = data_scaled['Maximum open credit']

# Review the DataFrame
loan_data.head()

,Current loan amount,Credit score,Annual income,Monthly debt,Years of credit history,Number of open accounts,Number of credit problems,Current credit balance,Maximum open credit,Bankruptcies,Long term,Short term,Home mortgage,Own home,Rent
0,-0.403050,-0.248996,-0.195065,-1.088060,-0.139697,-1.023574,NaN,-0.175312,-0.046075,1.0,0,1,1,0,0
1,2.458067,-0.227302,0.789666,0.872983,-0.467973,1.363133,NaN,0.007629,0.002270,0.0,0,1,0,1,0
2,-0.405859,-0.240861,-0.528623,-0.799685,-0.881886,-0.426898,NaN,-0.101568,-0.050396,0.0,1,0,0,1,0
3,-0.409913,4.212629,-0.445444,-0.176207,-0.125424,-1.023574,NaN,-0.209072,-0.067003,0.0,0,1,1,0,0
4,-0.409596,-0.234759,-0.179614,-0.626914,0.202852,0.368672,NaN,-0.453159,-0.067061,1.0,0,1,1,0,0